html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: url(../img/storefront.png) repeat;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f0;
}

#botd {
    background: url(../img/chalkboard.jpg) no-repeat;
    border: 7px solid #cc464f;
}

#botd p.item {
    font-family: 'Architects Daughter', cursive;
    color: #ffe173;
}

#botd p.description,
#botd p.price {
    font-family: 'Roboto', sans-serif;
    color: #ffe173;
}

.item {
    font-family: 'Architects Daughter', cursive;
    color: #2866a3;
}

.description,
.price {
    font-family: 'Roboto', sans-serif;
    color: #2866a3;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
