html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: url(../img/storefront.png) repeat;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f0;
}

#botd {
    background: url(../img/chalkboard.jpg) no-repeat;
    border: 7px solid #cc464f;
}

#botd h3.item {
    font-family: 'Architects Daughter', cursive;
    color: #ffe173;
}

#botd p.description,
#botd span.price {
    font-family: 'Roboto', sans-serif;
    color: #ffe173;
}

.item {
    font-family: 'Architects Daughter', cursive;
    color: #2866a3;
}

.description,
.price {
    font-family: 'Roboto', sans-serif;
    color: #2866a3;
}

.price {
    position: absolute;
    left: 50%;
}

/* fonts */
@font-face {
    font-family: "bobsburgers";
    src: url("../fonts/bobsburgers.eot"); /* for IE compatibility because IE is horrible */
    src: url("../fonts/bobsburgers.woff2") format("woff2"), url("../fonts/bobsburgers.woff") format("woff"), url("../fonts/bobsburgers.ttf") format("truetype");
}

h2 {
    font-family: "bobsburgers";
    font-size: 4em;
    font-weight: lighter;
    color: #2866a3;
    text-align: center;
}

#botd h2 {
    font-family: "bobsburgers";
    font-size: 4em;
    font-weight: lighter;
    color: #ffe173;
    text-align: center;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

footer {
    background-color: #2866a3;
    font-family: 'Roboto', sans-serif;
    color: #f4f4f0;
    text-align: center;
}

#twitter,
#facebook {
    vertical-align: middle;
    padding: 4px 0;
}

figure {
    margin: 0 auto;
}

figcaption {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #2866a3;
    text-align: center;
}
