html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.logo {
    content: url(../img/bobslogo.png);
    width: 30%;
    float: left;
}

header {
    background-color: #2866a3;
}

body {
    background: url(../img/storefront.png) repeat;
}


#navMenu {
    display: none;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f0;
}

h3,
p {
    padding-left: 1em;
    padding-right: 1em;
}


#botd {
    background: url(../img/chalkboard.jpg) no-repeat;
    border: 7px solid #cc464f;
}

#botd h2 {
    font-family: "bobsburgers";
    font-size: 4em;
    font-weight: lighter;
    color: #ffe173;
    text-align: center;
}

#botd h3.item {
    font-family: 'Architects Daughter', cursive;
    color: #ffe173;
    width: 50%;
}

#botd p.description,
#botd span.price {
    font-family: 'Roboto', sans-serif;
    color: #ffe173;
}

h2 {
    font-family: "bobsburgers";
    font-size: 4em;
    font-weight: lighter;
    color: #2866a3;
    text-align: center;
}

.item {
    font-family: 'Architects Daughter', cursive;
    color: #2866a3;
}

.description,
.price {
    font-family: 'Roboto', sans-serif;
    color: #2866a3;
}

.price {
    position: absolute;
    left: 50%;
}

#events_and_book p {
    font-family: 'Architects Daughter', cursive;
    font-size: 1em;
    text-align: center;
    color: #2866a3;
}

.halfoff {
    color: #cc464f;
}

/* fonts */
@font-face {
    font-family: "bobsburgers";
    src: url("../fonts/bobsburgers.eot"); /* for IE compatibility because IE is horrible */
    src: url("../fonts/bobsburgers.woff2") format("woff2"), url("../fonts/bobsburgers.woff") format("woff"), url("../fonts/bobsburgers.ttf") format("truetype");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

footer {
    background-color: #2866a3;
    font-family: 'Roboto', sans-serif;
    color: #f4f4f0;
    text-align: center;
}

#twitter,
#facebook {
    vertical-align: middle;
    padding: 4px 0;
}

figure {
    margin: 0 auto;
}

figcaption {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #2866a3;
    text-align: center;
}

/* links */
a:link,
a:visited,
a:active {
    color: #2866a3;
}

a:hover {
    color: #cc464f;
}

footer a:link,
footer a:visited,
footer a:active {
    color: #f4f4f0;
}

footer a:hover {
    color: #cc464f;
}

.images {
    position: absolute;
    left: 67%;
    padding-right: 1em;
}

/* back to top button */
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: 0.5;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;  /* image replacement properties */
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {   /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 0.5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}


/* media queries */
@media (max-width: 499px) {
    header {
        display: none;
    }
}

@media (min-width: 500px) {
    header,
    #navMenu {
        display: none;
    }

    .js .slicknav_menu {
        display: block;
    }

    #bobsburgers {
        width: 100%;
    }

    h2 {
        font-size: 4em;
    }

    h3,
    p {
        font-size: 1em;
    }

    .half h3,
    .half p {
        width: 50%;
    }

    .pic {
        width: 100%;
    }

    figcaption {
        font-size: 0.75em;
    }

    #events_and_book p {
        font-size: 1.25em;
    }

    .cd-top {
        right: 20px;
        bottom: 20px;
    }

    footer {
        font-size: 0.75em;
    }

}

@media (min-width: 900px) {
    header {
        display: block;
    }

    .js .slicknav_menu {
        display: none;
    }

    #navMenu {
        display: block;
    }

    nav {
        position: absolute;
        top: 1%;
        left: 19%;
        font-family: "bobsburgers";
        font-size: 1.75em;
        font-weight: lighter;
        padding-right: 0.5em;

    }

    nav li {
        display: inline;
    }

    nav a:link,
    nav a:visited,
    nav a:active {
        color: #f4f4f0;
        text-decoration: none;
    }

    nav a:hover {
        color: #a8ea55;
    }

    #about p {
        font-size: 1.55em;
    }

    h3,
    p {
        font-size: 1.2em;
    }

    #burgers p {
        width: 50%;
    }

    #events_and_book p {
        font-size: 1.5em;
    }

    footer {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    header {
        display: block;
    }

    .js .slicknav_menu {
        display: none;
    }

    #navMenu {
        display: block;
    }

    nav {
        position: absolute;
        top: 0.2%;
        left: 38%;
        font-family: "bobsburgers";
        font-size: 2em;
        font-weight: lighter;
        padding-right: 2em;
    }

    #about p {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.4em;
    }
    #teddy {
        width: 250px;
    }

    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
